<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="<%= root_path %>">
                <%= get_logo_text %></a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign up now and start sharing your experience!</p>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name))do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
                <%= f.input :username, required: true, autofocus: true, :input_html => { :type => "text", :class => "form-control" }  %>
                <%= f.input :email, required: true, autofocus: true, :input_html => { :type => "email", :class => "form-control" }  %>
                <%= f.input :password, required: true, :input_html => { :type => "password", :class => "form-control" },  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)  %>
                <%= f.input :password_confirmation, required: true, :input_html => { :class => "form-control" } %>
            </div>
            <hr>
            <%= f.button :submit, "Sign up", :input_html => { :class => "btn btn-primary" }  %>
            <% end %>
        </div>
    </div>
</body>
