<% unless current_user.nil? %>
<%= simple_form_for(@comment) do |f| %>
<div class="input-group" style="margin-bottom:15px;">
    <%= f.input :message, label: false, placeholder: "Type Message...", input_html: { class: 'form-control' }, as: :string %>
    <span class="input-group-btn">
        <%= f.button :submit, "Comment", class: "btn btn-default btn-flat" %>
    </span>
</div>
<% end %>
<% end %>
