<% @comments.each do |comment| %>
<div class="direct-chat-msg">
    <div class="direct-chat-info clearfix">
        <span class="direct-chat-name pull-left"><%= comment.user.username.humanize %></span>
        <span class="direct-chat-timestamp pull-right"><%= comment.updated_at %></span>
    </div>
    <div class="direct-chat-text pull-right"><%= comment.message %></div>
</div>
<% end %>
