<%= simple_form_for(@code_post) do |f| %>
<section class="content">
    <div class="row">
        <div class="col-xs-8">
            <div class="box">
                <div id="editor"><%= @code_post.code %></div>
                <textarea name="code_post[code]" id="code_post_code" hidden="true"><%= @code_post.code %></textarea>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title"><%= fa_icon "question-circle-o", text: " Other information" %></h3>
                    <%= render 'layouts/collapsers' %>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <tr>
                                <td align="right" width="10%"><%= fa_icon "laptop"%></td>
                                <td>Title</td>
                                <td><%= f.input :title, label: false, input_html: { style:'width:100%' } %></td>
                            </tr>
                            <tr>
                                <td align="right"><%= fa_icon "tags"%></td>
                                <td>Tags</td>
                                <td><%= f.input :tags, label: false, input_html: { style:'width:100%' } %></td>
                            </tr>
                            <tr>
                                <td align="right"><%= fa_icon "code"%></td>
                                <td>Language</td>
                                <td>
                                    <%= f.select :code_language, CodeLanguage.get_languages.each_with_index.map { |name, index| [name, index] }, {}, style: 'width:100%' %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <%= f.button :submit, "Submit" %>
                </div>
            </div>
        </div>
    </div>
</section>
<% end %>
