<table class="table">
    <tr>
        <td align="right"><%= fa_icon "tags"%></td>
        <td>Tags</td>
        <td><%= @code_post.tags %></td>
    </tr>
    <tr>
        <td align="right" width="10%"><%= fa_icon "diamond"%></td>
        <td>Bits</td>
        <td><%= @code_post.bits.length %>
            <% unless current_user.nil? %>
            <% if !@code_post.bit_exists?(current_user.id) %>
            <div class="pull-right" style="padding-right:10px;">
                <%= link_to upvote_code_path(@code_post), remote: true do %>
                Assign My BIT!
                <% end %>
            </div>
            <% end %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td align="right"><%= fa_icon "code"%></td>
        <td>Language</td>
        <td><%= @code_post.get_language %></td>
    </tr>
    <tr>
        <td align="right"><%= fa_icon "upload"%></td>
        <td>Owner</td>
        <td><%= get_username %></td>
    </tr>
</table>
