<div class="content-wrapper">
    <%= render 'layouts/alerts' %>

    <section class="content-header">
        <br>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">
                    <%= fa_icon "clone", text: "Home" %>
                </a>
            </li>
            <li class="active">Database</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="database-table" class="display responsive no-wrap" width="100%">
                            <thead>
                                <tr>
                                    <th><%= fa_icon "diamond"%>
                                        Bits</th>
                                    <th><%= fa_icon "code"%>
                                        Language</th>
                                    <th><%= fa_icon "newspaper-o"%>
                                        Title</th>
                                    <th><%= fa_icon "tags"%>
                                        Tags</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th><%= fa_icon "diamond"%>
                                        Bits</th>
                                    <th><%= fa_icon "code"%>
                                        Language</th>
                                    <th><%= fa_icon "newspaper-o"%>
                                        Title</th>
                                    <th><%= fa_icon "tags"%>
                                        Tags</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    $('#database-table').DataTable({
        "columns": [
            {
                "width": "8%"
            }, {
                "width": "12%"
            }, {
                "width": "40%"
            },
            null
        ],
        "responsive": true,
        "processing": true,
        "serverSide": true,
        "ajax": "code/datatable_ajax/"
    });
</script>
