<div class="content-wrapper">
    <%= render 'layouts/alerts' %>

    <section class="content-header">
        <h1><%= @code_post.title %><% if !current_user.nil? && (is_owner?(@code_post) || current_user.is_admin?) %>
            <%= link_to edit_code_path(@code_post) do %>
            <%= fa_icon "pencil" %>
            <% end %>
            <% end %></h1>
        <ol class="breadcrumb">
            <li>
                <a href="<%= root_path %>">
                    <%= fa_icon "clone", text: "Home" %>
                </a>
            </li>
            <li>
                <a href="<%= code_path %>">Database</a>
            </li>
            <li class="active"><%= @code_post.slug %>
                (VIEW)</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="box box-default">
                    <div id="editor"><%= cache @code_post.code do %><%= @code_post.code %><% end %></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title"><%= fa_icon "question-circle-o", text: " Other information" %></h3>
                        <%= render 'layouts/collapsers' %>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <div id="reputation-ajax">
                                <%= render 'info_table' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title"><%= fa_icon "comments", text: " Comments" %></h3>
                        <%= render 'layouts/collapsers' %>
                    </div>
                    <div class="box-body">
                        <%= render 'comments/form' %>
                        <div class="table-responsive">
                            <%= render 'comments_show' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%= render 'editorscripts' %>
