<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="<%= root_path %>">
                <%= get_logo_text %></a>
        </div>
        <div class="login-box-body">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
                <%= f.input :login, label: "Username or Email", required: false, autofocus: true, :input_html => { :type => "text", :class => "form-control" }  %>
                <%= f.input :password, required: false, :input_html => { :type => "password", :class => "form-control" }  %>
                <div class="checkbox">
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
            </div>
            <hr>
            <%= f.button :submit, "Log in", :input_html => { :class => "btn btn-primary" }  %>
            <% end %>
        </div>
    </div>
</body>
