/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/dataTables.responsive
 */

@import "bootstrap.min";
@import "font-awesome";
@import "AdminLTE.min";
@import "skin-black.min";
@import "dataTables-skin";

#editor {
  width: 100%;
  height : 70vh;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}
