<!-- Alerts -->
<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
<%#= notice %>
<%#= alert %>

<% flash.each do |name, msg| %>
<% if msg.is_a?(String) %>
  <% if name == "alert" %>
  <div class="alert alert-danger" id="alert_message" style="margin:10px;">
  <% else %>
  <div class="alert alert-success" id="alert_message" style="margin:10px;">
  <% end %>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  </div>
  <% end %>
<% end %>
