<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>

      <li>
        <a href="<%= code_path %>">
          <i class="fa fa-table"></i>
          <span>Database (<%= get_database_count %>)</span></a>
      </li>

      <li class="header">USER NAVIGATION</li>
      <% unless current_user.nil? # LOGGED IN%>
      <li>
        <a href="<%= new_code_path %>">
          <%= fa_icon "edit" %>
          <span>Publish Code</span></a>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= fa_icon "sign-out" %>
          <span>Logout</span>
        <% end %>
      </li>
      <% else # LOGGED OFF %>
      <li>
        <%= link_to new_user_session_path do %>
          <%= fa_icon "sign-in" %>
          <span>Sign in</span>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path do %>
          <%= fa_icon "lock" %>
          <span>Registration</span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
