<!DOCTYPE html>
<html>
<head>
  <title>BITSlace</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<% unless is_devise_controller? # MAIN APPLICATION %>
  <body class="fixed hold-transition skin-black sidebar-mini">
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/content' %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
<% else #FOR LOGIN/SIGNUP %>
  <%= render 'layouts/alerts' %>
  <%= render 'layouts/content' %>
<% end %>
</html>

<!-- Infolinks integration -->

<script type="text/javascript">
  var infolinks_pid = 2920300;
  var infolinks_wsid = 0;
</script>
<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
